# Ignore OS files
.DS_Store
__pycache__/
*.pyc
.ipynb_checkpoints/

# Ignore only raw scratch data
data/raw/

# Allow all processed data to be tracked by LFS
!data/**

# Ignore large model binaries unless needed
models/*.pt
